PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=TRvRl2rO2-jPTG46-RO0ks7Pn_4Kdkd5
DRIVE_DISK=local
DB_CONNECTION=mysql
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=lucid
MYSQL_PASSWORD=
MYSQL_DB_NAME=lucid
